@model IEnumerable<Statistics>

@{
    ViewData["Title"] = "Index";
}

<h1>Statistics</h1>

<div class="form-group">
    <label class="control-label">Dataset:</label>
    <input id="inputDataset" class="form-control _dataset-input">
    <span class="text-danger"></span>
    <button id="getStatisticsButton" class="btn btn-primary">Get Statistics</button>
    <button id="clearButton" class="btn btn-danger">Clear Dataset</button>

    <div>
        <p id="numSorted"></p>
        <p id="numSize"></p>
        <p id="numSum"></p>
        <p id="numMin"></p>
        <p id="numMax"></p>
        <p id="numRange"></p>
        <p id="numMean"></p>
        <p id="numMedian"></p>
        <p id="numMode"></p>
        <p id="numPopulationDeviation"></p>
        <p id="numSampleDeviation"></p>
        <p id="numPopulationVariance"></p>
        <p id="numSampleVariance"></p>
        <p id="numQuartile1"></p>
        <p id="numQuartile2"></p>
        <p id="numQuartile3"></p>
        <p id="numInterquartileRange"></p>
        <p id="numOutlierLower"></p>
        <p id="numOutlierUpper"></p>
        <p id="numOutliers"></p>
        <p id="numFiveNumberSummary"></p>
    </div>
</div>
