@model IEnumerable<UnitConverterDB.Models.Statistics>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Numbers:</label>
        <textarea id="inputNumbers" class="form-control _text-input"></textarea>
        <span class="text-danger"></span>
        <button id="sortButton" class="btn btn-primary">Sort Numbers</button>
        <button id="clearButton" class="btn btn-danger">Clear Numbers</button>

        <div>
            <p id="numSorted">numSorted</p>
            <p id="numCount">numCount</p>
            <p id="numSum">numSum</p>
            <p id="numMin">numMin</p>
            <p id="numMax">numMax</p>
            <p id="numRange">numRange</p>
            <p id="numMean">numMean</p>
            <p id="numMedian">numMedian</p>
            <p id="numMode">numMode</p>
        </div>
    </div>
</form>
