@model IEnumerable<Statistics>

@{
	ViewData["Title"] = "Statistics Calculators";
}
<h1>Statistics Calculators</h1>

<div>
	<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGetZScore" aria-expanded="false" aria-controls="collapseGetZScore">
		<h4>Z-Score (x, μ, σ)</h4>
	</button>
	<div class="collapse" id="collapseGetZScore">
		<div class="card card-body">
			<div class="form-group">
				<div>
					<label for="inputZScoreX" class="control-label">Raw Score (x):</label>
					<input id="inputZScoreX" class="form-control">
					<label for="inputZScorePopulationMean" class="control-label">Population Mean (μ):</label>
					<input id="inputZScorePopulationMean" class="form-control">
					<label for="inputZScorePopulationStandardDeviation" class="control-label">Population Standard Deviation (σ):</label>
					<input id="inputZScorePopulationStandardDeviation" class="form-control">
					<button id="calculateZScoreButton" class="btn btn-primary">Calculate Z-Score</button>
					<button id="clearZScoreButton" class="btn btn-danger">Clear Z-Score Entries</button>
				</div>

				<div>
					<span id="errorZScore" class="text-danger">*</span>
					<p id="resultX">Sample (x̄):</p>
					<p id="resultZScore">Z-Score (Z):</p>
					<p id="resultPValueLeftTailed">P-Value - Left-Tailed (x̄ < Z):</p>
					<p id="resultPValueRightTailed">P-Value - Right-Tailed (x̄ > Z):</p>
					<p id="resultPValueTwoTailed">P-Value - Two-Tailed (x̄ < -Z or x > Z):</p>
					<p id="resultPValueBetween">P-Value - Between (-Z < x̄ < Z):</p>
				</div>
			</div>
		</div>
	</div>
	<p></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jstat/1.9.4/jstat.min.js"></script>
