html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

textarea {
    font-family: monospace;
}

p {
    margin: 0.5em 0 0.5em 0;
}

pre {
    white-space: pre-wrap;
}

nav {
    padding: 0.3em !important;
}

.dropdown-menu.show {
    display: inline-block;
}

.back-to-top {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 30px;
}

._form-margin-left {
    margin-left: 1.25em;
}

._text-input {
    height: 400px;
    width: 100%;
    resize: none;
}

._border {
    border: 1px solid black;
}

._border-bottom {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

._display-inline {
    display: inline-flex;
}

._letter-spacing {
    margin-left: 5px;
}

._invisible {
    display: none;
}

._display-block-ruby {
    display: block ruby;
}

._border-black {
    border: 2px solid black;
}

._border-green {
    border: 2px solid green;
}

._card-header {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

._card-body {
    padding: 0rem 0.5rem;
}

@media (max-width: 575px) {
    .nav-link {
        padding-left: 15px !important;
    }
    .navbar-brand {
        position: absolute;
        left: 3.5em;
        top: 0.3em;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
