html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.back-to-top {
    float: right;
}

.text-input {
    max-height: 500px;
    width: 100%;
}

.border-right {
    border-right: 1px solid black;
}