html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

textarea {
    font-family: monospace;
}

.back-to-top {
    float: right;
}

.text-input {
    height: 400px;
    width: 100%;
    resize: none;
}

.border-right {
    border-right: 1px solid black;
}