@model QuarterProject.Models.RegisteredUser

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RegisteredUser</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserText" class="control-label"></label>
                <textarea asp-for="UserText" class="form-control text-input"></textarea>
                <span asp-validation-for="UserText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <!-- Sets "UserName" to the User Identity Name -->
            <input type="hidden" asp-for="UserName" value=@User.Identity?.Name />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
