@model QuarterProject.Models.RegisteredUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegisteredUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserText)
        </dt>
        <br>
        <dd class="col-sm-10">
            <textarea readonly asp-for="UserText" id="userTextArea" class="form-control text-input" oninput="charInput(this)">
            <pre>@Html.DisplayFor(model => model.UserText)</pre>
            </textarea>
            <div class="_display-inline">
                <p id="charCount"></p>
                <p id="maxChars"></p>
                <p class="_letter-spacing">Characters</p>
            </div>
            <br>
            <div class="_display-inline">
                <p id="wordCount"></p>
                <p class="_letter-spacing">Words</p>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
