@model QuarterProject.Models.RegisteredUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegisteredUser</h4>
    <hr />
    <dl class="row">
        <dt>Title:</dt>
        <dd>
            <input readonly asp-for="UserTextTitle" class="form-control"></input>
        </dd>

        <dt>Text:</dt>
        <dd>
            <textarea readonly asp-for="UserText" id="userTextArea" class="form-control _text-input"></textarea>
            <div class="_display-inline">
                <p id="charCount"></p>
                <p id="maxChars"></p>
                <p class="_letter-spacing">Characters</p>
            </div>
            <br>

            <div class="_display-inline">
                <p id="wordCount"></p>
                <p class="_letter-spacing">Words</p>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
