@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	@if (SignInManager.IsSignedIn(User))
	{
		<h1 class="display-4">@User.Identity?.Name</h1>
	}
</div>
